.App {
  text-align: center;
  background-color: #FFE66D;
}

.busqueda {
  font-size: 16px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.caja {
  display: flex;
  flex-wrap: wrap;
}

.senador {
  width: 100%;
}

@media (min-width: 1024px) {
  .caja {
    display: flex;
    flex-wrap: wrap;
  }
  
  .senador {
    width: 30%;
    padding: 15px;  
  }
  
  .partido {
    background-color: black;
    color: white;
    padding: 5px;
  }
  


}
